* {
  font-family: 'sans-serif';
  font-weight: 500;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2 {
  text-align: center;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 20px;
  color: rgb(95, 95, 95);
  font-style: italic;
}

footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(95, 95, 95);
}

footer a:hover {
  color: rgb(39, 39, 39);
}

footer i {
  font-size: 2em;
  margin-right: 10px;
}

.keys {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.key {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-bottom: 15px;
  transition: all .09s;
}

.white {
  position: relative;
  height: 230px;
  width: 60px;
  box-shadow: 0px 0px 1px rgb(95, 95, 95),
              1px 1px 2px rgb(95, 95, 95);
}

.black {
  position: absolute;
  top: 0;
  right: -17px;
  z-index: 3;
  height: 130px;
  width: 35px;
  background-color: black;
  color: white;
}

.playing {
  background-color: rgb(165, 165, 165);
}